body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.App__header {
  background-color: #593a2e;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #f2f2f2;
  padding: 1rem;
  text-transform: uppercase;
}

.App__link {
  color: #61dafb;
}

.App_content {
  height: calc(100vh - 4.5rem);
}

.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  border-radius: 6px;
  border: 1px solid #593a2e;
  display: inline-block;
  cursor: pointer;
  color: #593a2e;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  text-transform: uppercase;
}

.button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

