.Search {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  width: calc(100vw);
  height: calc(100vh);
  overflow: hidden;
}

.SearchHeader {
  position: sticky;
  width: calc(100vw - 2rem);
  padding: 1rem;
}

.SearchHeader-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.SearchHeader__close-btn::after {
  cursor: pointer;
  display: inline-block;
  content: "\00d7";
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.SearchModal__input {
  height: 1rem;
  padding: 0.5rem 0.25rem;
  width: calc(100% - 1rem);
}

.SearchResults {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 106px);
  overflow: auto;
}

.SearchResult__item {
  padding: 0.35rem 1rem;
}

.SearchResult__item-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.SearchResult__item:nth-child(odd) {
  background: #ccc;
}
